body{
	background: url(ttps://images6.alphacoders.com/465/thumb-1920-465671.png) 
	no-repeat; background-size: 100%;

	background-color: #232429;
}

nav.Menu{
	text-align: center;
}

nav.Menu ul li.btn{
	display: inline-block;
}

nav.Menu ul li.btn{
	list-style-type: none;
}

nav.Menu ul a{
	color: white;
	background-color: black;
	text-decoration: none;
	padding: 10px;
	font-size: 20px;
}

nav.Menu ul li.btn:hover a{
	color: black;
	background-color: gold;
	transition: 0.5s all;
}


div.primes
{
	color: white;
}

table,
	td{
		border:2px solid #fff;
	}

	thead,
	tfoot{
		background-color: #fff
		color: #fff;
	}
table.table td{
	text-align: left;
	font-size: 20px;
}

table.table{
	margin-left: auto;
	margin-right: auto;
}
p.table{
	font-size: 20px;
}

img
{
	box-shadow: 10px 10px 15px black;
}
